@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  outline: 1px solid red;
}

:root {
  --primary-color: #5552ab;
  --secondary-color: #ecebff;
  --accent-color: #f48bce;
  --text-color: #000017;
  --background-color: #fff9f2;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
  height: 100%;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var((--accent-color));
  font-family: 'Playfair', serif;
}

a {
  text-decoration: none;
}
